body{
	color:white;
	background-color:black;
}
.special{
	font-style:italic;
}
h2.special{
	text-transform: uppercase;
}
#purchases{
	border:1px solid white;
	background-color:#333;
	color:#ccc;
	padding:1em;
}
#purchases li{
	font-weight:bold;
}